{%extends 'portafolio_web/base.html'%}
{%load static%}
{%block title%}Curriculum{%endblock%}

{%block content%}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Currículum
                    </span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                                <!-- Download resume button
                                <a class="btn btn-primary px-4 py-3" href="#!">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Descargar curriculum
                                </a>
                                -->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <button type="button" class="btn btn-primary" onclick="descarga()">Descargar Currículum</button>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2019 - Actualidad</div>
                                                <div class="small fw-bolder">Web Developer</div>
                                                <div class="small text-muted">Stark Industries</div>
                                                <div class="small text-muted">Los Angeles, CA</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>En mi rol como Web Developer en Stark Industries, he sido responsable del diseño, desarrollo y mantenimiento de aplicaciones web innovadoras que optimizan los procesos internos y mejoran la experiencia del usuario. Trabajo con un equipo multidisciplinario para implementar soluciones tecnológicas avanzadas, utilizando tecnologías modernas como HTML, CSS, JavaScript, y frameworks como React y Django. Además, colaboro estrechamente con diseñadores y otros desarrolladores para garantizar la creación de productos de alta calidad, escalables y seguros. Mi enfoque se centra en la mejora continua y la implementación de mejores prácticas en el desarrollo web para satisfacer las necesidades dinámicas de la empresa.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                                <div class="small fw-bolder">SEM Specialist</div>
                                                <div class="small text-muted">Wayne Enterprises</div>
                                                <div class="small text-muted">Gotham City, NY</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>En mi rol como SEM Specialist en Wayne Enterprises, fui responsable de la planificación, implementación y optimización de campañas de marketing en motores de búsqueda. Mi trabajo se centró en aumentar la visibilidad en línea y el rendimiento de las campañas publicitarias a través de estrategias de PPC, análisis de palabras clave y gestión de presupuestos. Utilicé herramientas como Google Ads y Bing Ads para maximizar el retorno de la inversión, realizando análisis detallados y ajustando las campañas para mejorar continuamente su efectividad. Colaboré con equipos de marketing y ventas para alinear los objetivos comerciales con las estrategias de SEM, logrando un crecimiento significativo en el tráfico web y las conversiones.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Educación</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2015 - 2017</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Barnett College</div>
                                                    <div class="small text-muted">Fairfield, NY</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master's</div>
                                                    <div class="small text-muted">Web Development</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Obtuve mi título de Master's en Web Development en Barnett College, donde adquirí una sólida base en el diseño y desarrollo de aplicaciones web. Durante mis estudios, profundicé en tecnologías y frameworks modernos, incluyendo HTML5, CSS3, JavaScript, React y Django. También aprendí sobre mejores prácticas en desarrollo web, UX/UI design, y la implementación de soluciones escalables y seguras. Mi formación en Barnett College me proporcionó las habilidades técnicas y la experiencia práctica necesarias para enfrentar desafíos complejos en el ámbito del desarrollo web.

                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2011 - 2015</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">ULA</div>
                                                    <div class="small text-muted">Los Angeles, CA</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Undergraduate</div>
                                                    <div class="small text-muted">Computer Science</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Obtuve mi título de Licenciatura en Ciencias de la Computación en la Universidad de Los Ángeles (ULA). Durante mis estudios, desarrollé una sólida comprensión de los fundamentos de la informática, incluyendo algoritmos, estructuras de datos, y programación en varios lenguajes como Java, Python y C++. Además, participé en proyectos que abarcaron desde el desarrollo de software hasta la inteligencia artificial y el análisis de datos. Mi formación en ULA me proporcionó una base técnica robusta y me preparó para enfrentar desafíos en el campo de la tecnología y el desarrollo de software.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Habilidades Profesionales</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO/SEM Marketing</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical Analysis</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Lenguajes</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
{%endblock%}