{%extends 'portafolio_web/base.html'%}
{%load static%}
{%block title%}Nosotros{%endblock%}

{%block content%}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        
                        <h1 class="display-5 fw-bolder mb-0">
                            <span class="text-gradient d-inline">
                                Visión
                            </span>
                            
                        </h1>
                    </div>
                    <div class="row gx-8 justify-content-center">
                        <div class="col-lg-15 col-xl-12 col-xxl-10">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-4">
                                            <p>
                                                En Webcrafters, nos apasiona la creación de experiencias web excepcionales que cautivan a nuestros clientes y hacen crecer sus negocios. Con más de una década de experiencia en el diseño y desarrollo de sitios web, nos hemos convertido en líderes en la industria de la creación web.
                                                
                                                Nuestro equipo está compuesto por talentosos diseñadores, desarrolladores y especialistas en marketing digital que trabajan juntos para crear soluciones web personalizadas que superan las expectativas. Desde sitios web corporativos hasta tiendas en línea y aplicaciones web, nuestro enfoque centrado en el cliente y nuestra atención al detalle nos distinguen.
                                                
                                                Nos enorgullecemos de nuestra capacidad para combinar creatividad y funcionalidad en cada proyecto que emprendemos. Nuestro proceso de desarrollo ágil garantiza que entreguemos resultados de alta calidad de manera oportuna y eficiente.
                                                
                                                En Webcrafters, creemos en la transparencia, la colaboración y la excelencia en todo lo que hacemos. Estamos aquí para ayudarte a llevar tu presencia en línea al siguiente nivel y a lograr el éxito en el mundo digital.
                                                
                                                ¡Únete a nosotros en el viaje hacia la excelencia web con Webcrafters!
                                                
                                                </p>
                                        </div>
                                        <img class="img-fluid" src="{%static 'portafolio_web/img/nosotros.png' %}" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
{%endblock%}
