{% extends 'portafolio_web/base.html' %}
{% load static %}
{% block title %}Proyectos{% endblock %}

{% block content %}
    <!-- Projects Section-->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
            </div>
            <div class="text-center mb-5">
            {% if user.is_authenticated %}
                    <a href="{% url 'proyecto_list' %}" class="btn btn-primary mt-3">Gestionar Proyectos</a>
                {% endif %}
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Iterar sobre los proyectos -->
                    {% for proyecto in proyectos %}
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">{{ proyecto.nombre }}</h2>
                                        <p>{{ proyecto.descripcion }}</p>
                                    </div>
                                    {% if proyecto.imagen %}
                                        <img class="img-fluid" src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Construyamos el futuro</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contacto">Contáctanos</a>
            </div>
        </div>
    </section>
{% endblock %}

<div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
    <div class="card-body p-0">
        <div class="d-flex align-items-center">
            <div class="p-5">
                <h2 class="fw-bolder">EccOrganic</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
            </div>
            <img class="img-fluid" src="{%static 'portafolio_web/img/ecco.png'%}" alt="..." />
        </div>
    </div>
</div>